@import "operators";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #16161a;
}

h1{
    color: white;
}

h2{
    color: white;
    font-family: 'Roboto', sans-serif;
}
h3{
    font-family: 'Roboto', sans-serif;
}
h4{
    color: white;
    text-align: center;
}

p{
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: black;
    padding: 0 16px;
    font-size: 30px;
    right: auto;
}

ul{
    padding: 0 16px;
    list-style: none;
}

main{
    background-color: #16161a;
}
.main__inicio{
    display: flex;
    flex-wrap: wrap;
}
.main__image{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100vw;
    background-color: black;
}

.main__logo{
    width: 1550px;
    background-color: black;
}
.button{
    width: 500px;
    height: 70px;
    font-size: 32px;
    border: solid 10px;
    border-radius: 15px;
}

button:hover{
    background-color: wheat;
    transform: scale(1.05,1.05)
}
.btn__color{
background-color: white;
color: black;
}

.main__yt{
    background-color: black;
    padding: 100px;
}
.main__sptfy{
    padding: 40px;
}
.main__1{
    width: 100px;
    padding: 100px;
}
.imgsmall{
    width: 50px;
    padding: 50px;
    background-color: black;
}
.main__1{
    width: 400px;
}
.media{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}




ol{
    color: white;
}
.main__description{
    font-size: medium;
}

// footer //

.footer{
    width:100%;
    background-color: #272343;

    &__pie{
        display:grid;
        width:100%;
        max-width:1200%;
        margin:auto;
        grid-template-columns: repeat(3, 1fr);
        grid-gap:50px;
        padding:45px 0px;
    }
    &__logo{
        @extend .tamaño-centrado;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__logo img{
        width: 250px;
        border-radius: 50%;
    }
    &__text h2{
        color: white;
        background-color: #272343;
        margin-bottom: 25px;
        font-size: 20px;
    }
    &__text p{
        color: #efefef;
        margin-bottom: 10px;
        background-color:  #272343;
        font-size: 20px;
    }
    &__redes a{
        display: inline-block;
        text-decoration: none;
        width: 45px;
        height: 45px;
        line-height: 45px;
        margin-right: 10px;
        text-align: center;
        transition: all 300ms ease;

        background-color: #081f2d; 
        border-radius: 29px; 
        border: 1px solid #081F2D; 
        color: white; 
        font-size: 15px; 
        cursor: pointer; 
        transition: 0.3s; 

        transform: translateY(0);
        text-transform: uppercase;
    }
    &__redes a:hover{
        background-color: white; 
        color: #081F2D; 
        border-color: #081F2D; 
        transition: 0.3s; 
    }
    &__derechos{
        background-color: black;
        padding: 15px 10px;
        text-align: center;
        color: white;
    }
}
@media screen and (max-width:800px){
    .footer__pie{
        width: 90%;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}


// contactos //

.contacto{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 100px;
    margin-bottom:100px;
    background-color: #16161a;

    & h1{
        margin-bottom: 15px;
        font-size: 35px;
        color: #fffffe;
    }
    & p{
        font-size: 17px;
        line-height: 1.6;
        margin-bottom: 30px;
        color: #fffffe;
        background-color: #16161a;
    }
    &__datos ,textarea{
        width: 100%;
        padding: 15px 10px;
        font-size: 15px;
        border: 1px solid #dbdbdb;
        margin-bottom: 20px;
        border-radius: 3px;
        outline: 0px;
    }
    &__datos form textarea{
        max-width: 530px;
        min-width: 530px;
        min-height: 140px;
        max-height: 150px;
    }
    &__boton{
        background-color: #081f2d; 
        border-radius: 29px; 
        border: 1px solid #081F2D; 
        color: white; 
        font-size: 15px; 
        padding: 10px 45px; 
        cursor: pointer; 
        transition: 0.3s; 
    }
    &__boton:hover{
        background-color: white; 
        color: #081F2D; 
        border-color: #081F2D; 
        transition: 0.3s; 
        border: 2px solid #9672B4;
        
    }
    & a{
        font-size: 17px;
        display: inline-block;
        text-decoration: none;
        width: 100%;
        margin-bottom: 15px;
        color: white;
        font-weight: 700;
    }
    & a i{
        color: purple;
        margin-right: 10px;
    }
}


// cabezera //

.header{
    @extend .tamaño-centrado;
    background: #272343;
    z-index: 10;
    top: 0;
    left: 0;
    position: sticky;

    &__container{
        width: 90%;
        max-width: 1200%;
        margin: auto;
    }
    &__menu a{
    color: white;
    text-decoration: none;
    display: inline-block;
    border-radius: 50px;
    padding: 9px 25px;
    font-size: 14px;
    transition: all 500ms ease;
    border-bottom: 4px purple;
    text-align: center;
    margin-top: 20px;
    }
    &__menu a:hover{
        color: purple;
    }
    &__boton{
        float: right;
        display: none;
    }
    &__boton label{
        color: white;
        background: rgb(22, 21, 21);
        padding: 1px;
        font-size: 13px;
        border-radius: 3px;
        cursor: pointer;
    }
    .header__logo{
        width: 70px;
        border-radius: 50%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .header__flex{
        display: flex;
    }
    .header__flex nav{
        margin-left: 50px;
    }
    .header__contacto{
        background-color: #081f2d; 
        border-radius: 29px; 
        border: 1px solid #081F2D; 
        color: white; 
        font-size: 15px; 
        padding: 10px 45px; 
        cursor: pointer; 
        transition: 0.3s; 
        margin-left: 675px;
    }

}

#boton__menu{
    display: none;
}
@media only screen and (min-width:320px) and (max-width:768px){
    .header{
        height: 60px;
    }
    .header__logo, .header__boton{
        line-height: 60px;
    }
    .header__menu{
        position: absolute;
        background: black;
        width:100%;
        height: 100vh;
        top: 60px;
        left: 0;
        transition: all 500ms ease;
        transform: translateX(-100%)
    }
    #boton__menu:checked ~ .header__menu{
        transform: translateX(0%)
    }
    .header__menu a{
        display:block;
        margin-top: 10px;
    }
.header__boton{
    display: block;
}
}

// inicio

.principal{
    width: 100%;
    height: 677px;
    position: relative;

    &__portada{
        @extend .tamaño-centrado;
        width: 100%;
        background: url(../resources/raptartecreateslogo.jpg);
        background-attachment:fixed;
        background-size: 100%;
    }
    &__contenido{
        top: 0;
        left: 0;
        position: absolute;
        @extend .tamaño-centrado;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__info{
        width: 100%;
        max-width: 750px;
        text-align: center;
    }
    &__info h1{
        color: #fff;
        font-size: 50px;
        text-shadow: 0px 1px 10px rgba($color: #000000, $alpha: 1.0);
        margin-bottom: 25px;
        letter-spacing: 1px;

/* From https://css.glass */
background: rgba(1, 1, 1, 0.66);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0px);
-webkit-backdrop-filter: blur(0px);
border: 1px solid rgba(1, 1, 1, 0.88);
    }
    &__info p{
        background: rgba(1, 1, 1, 0.66);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(1, 1, 1, 0.88);
    }
    &__info a{
        display: inline-block;
        text-decoration: none;
        font-size: 19px;
        padding: 10px 25px;
        color: #fff;
        background: purple;
        margin-bottom: 40px;
        border: 2px solid transparent;
        transition: all 30ms ease;
        letter-spacing: 0.5px;
    }
    &__info a:hover{
        background: rgb(22, 21, 21);
        border: 2px solid purple;
    }
}

// proyectos

.proyectos{
    width: 100%;
    max-width: 1300px;
    margin: auto;
    margin-bottom: 40px;

    &__acordeon{
        background: rgb(22, 21, 21);
    }
    &__acordeon label{
        display: block;
        padding: 20px;
        font-size: 20px;
        background: #081f2d;
        color: white;
        cursor: pointer;
        margin-bottom: 2px;
        transition: all 300ms ease;
    }
    &__acordeon label:hover{
        background: #2e2e2e;
    }
    &__contenido{
        display: grid;
        grid-template-columns: repeat(2,2fr);
        padding: 0px;
        margin: 0px 20px;
        max-height: 0px;
        overflow: hidden;
        transition: all 300ms ease;
    }
    &__contenido p{
        font-size: large;
        background-color: rgb(22, 21, 21);;
    }
    &__youtube{
        display: grid;
        width: 1200px;
    }
    &__youtube img{
        width: 300px;
        margin: 25px 25px 25px;
    }
}
.proyectos h1{
    font-family: 'Yellowtail', cursive;
    text-align: center;
    font-size: 100px;
    margin: 15px 0px;
    color: #c0c4d6;

    background: rgba( 36, 2, 2, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11px );
    -webkit-backdrop-filter: blur( 11px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.btn-acordeon:checked ~ .proyectos__contenido{
    max-height: 100%;
    padding: 15px 0px;
}
.btn-acordeon{
    display: none;
}
@media screen and (max-width:850px) {
    .proyectos__acordeon{
        width: 100%;
        grid-template-columns: repeat(1,1fr);
    }
    .proyectos__contenido{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(1,1fr);
    }
}
@media screen and (max-width:650px){
    .proyectos__contenido{
        width: 100%;
        grid-template-columns: repeat(1,1fr);
    }
    .proyectos__acordeon{
        width: 90%;
        grid-template-columns: repeat(1,1fr);
    }
    .proyectos__contenido p {
        width: auto;
    }
    .proyectos h1{
        width: auto;
        font-size: 60px;
        margin-bottom: 25px;}
}
.proyectos__listas li{
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}


.tarjetas{
    width: 100%;
    display: flex;
    max-width: 1100px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.tarjetas__inicio{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #272343;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}
.tarjetas__inicio:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}
.tarjetas__inicio img{
    width: 100%;
    height: 210px;
}

.tarjetas__contenido{
    padding: 15px;
    text-align: center;
    background-color: #272343;
}
.tarjetas__contenido p{
    background-color:#272343;
    line-height: 1.5;
    color: #c0c4d6;
    font-size: large;
}
.tarjetas__contenido h3{
    color: white;
    font-weight: 400;
    margin-bottom: 15px;
}
.tarjetas__contenido a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: white;
    border: 1px solid #081f2d;
    border-radius: 4px;
    transition: all 400ms ease;
    background-color: #081f2d;
}
.tarjetas__contenido a:hover{
    background: rgb(22, 21, 21);
    border: 2px solid #9672B4;
}
.sectione{
background-color:#16161a ;
    display: flex;
    justify-content:center;
    align-items: center;
}
@media screen and (max-width:800px){
    .tarjetas{
        width: 100%;
        display: flex;
        max-width: 1100px;
        flex-wrap: wrap;
    }
}

// sobre nosotros

.sobrenosotros{
    width:100%;
    height:80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sobrenosotros__contenido img{
    height: auto;
    width: 400px;
    max-width: 100%;
}
.sobrenosotros__texto{
    width: 550px;
    max-width: 100%;
    padding: 0 10px;

}
.sobrenosotros__contenido{
    width: 1100px;
    max-width: 95%;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.sobrenosotros__texto h1{
    color: #fffffe;
    font-size: 50px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.sobrenosotros__texto{
    color: white;
    font-size: 25px;
    margin-bottom: 25px;
    text-transform: capitalize;
    letter-spacing: 2px;
}
.sobrenosotros__texto p{
    background-color: #16161a;
    color: #94a1b2;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 45px;
}
.sobrenosotros__texto a{ 
    background-color: #081f2d; 
    border-radius: 29px; 
    border: 1px solid #081F2D; 
    color: white; 
    font-size: 15px; 
    padding: 10px 45px; 
    cursor: pointer; 
    transition: 0.3s; 
        }
        
        .sobrenosotros__texto a:hover{ 
            background-color: white; 
            color: #081F2D; 
            border-color: #081F2D; 
            transition: 0.3s; 
        }
        
@media screen and (max-width:1180px) {
    .sobrenosotros{
        width: 100%;
        height: 100%;
        padding: 70px 0px;
    }
}